<div class="container cmc-home-container">
    <div class="cmc-ribbon">
        <h3 class="text-primary"> My Groups</h3>
        <button (click)="createGroup()" class="btn btn-sm btn-primary">create group</button>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>
                    Name
                </th>
                <th>
                    status
                </th>
                <th class="text-center">
                    Actions
                </th>
            </thead>
            <tbody>
                <tr *ngFor='let group of groups'>
                    <td>
                        {{group.group_name}}
                    </td>
                    <td>
                        {{group.is_active}}
                    </td>
                    <td class="text-center">
                        <!-- <button (click)="createContact()" class="btn btn-sm btn-danger">Delete</button>&nbsp; -->
                        <button routerLink="/group-view/{{group.id}}" class="btn btn-sm btn-primary">View</button>&nbsp;
                        <!-- <button (click)="createContact()" class="btn btn-sm btn-success">Add Contact</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="cmc-ribbon">
        <h3 class="text-primary">My Contacts</h3>
        <button (click)="createContact()" class="btn btn-sm btn-primary">create contact</button>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
            </thead>
            <tbody>
                <tr *ngFor='let contact of contacts'>
                    <td>
                        {{contact.first_name}}{{" "+contact.last_name}}
                    </td>
                    <td>
                        {{contact.email}}
                    </td>
                    <td>
                        {{contact.phone}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>