.cmc-header-wrapper {
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: #414b4b;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.cmc-header-content {
    display: table;
    width: 100%;
}

.cmc-logo-wrapper {
    width: 20%;
    display: table-cell;
}

.cmc-title-wrapper {
    width: 60%;
    display: table-cell;
    text-align: center;
    font-size: 2em;
    vertical-align: middle;
    color: #bcbcbc;
}

.cmc-user-info-wrapper {
    width: 20%;
    display: table-cell;
}

.cmc-app-container {
    overflow-y: auto;
    margin: 5px;
}

@media screen and (max-width: 767px) {
    .cmc-title-wrapper {
        font-size: 1.5em;
    }
    .cmc-header-wrapper {
        height: inherit;
    }
    .cmc-logo-wrapper,
    .cmc-title-wrapper,
    .cmc-user-info-wrapper {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .cmc-title-wrapper {
        font-size: 1.5em;
    }
}