<div class="container cmc-home-container">
    <div class="cmc-ribbon">
        <h3 class="text-primary cmc-center" [routerLink]="['/home']">{{group.group_name}} </h3> <span style="font-size:20px"> >> Contacts </span>
        <button [routerLink]="['/new-contact/']" [queryParams]="{group_id: group.id}" class="btn btn-sm btn-primary">New Contact</button>
    </div>
    <hr>
    <div class="input-group">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <select [(ngModel)]="searchBy" name="search-by" class="form-control">
                    <option value='name'> Filter By Name </option>
                    <option value='email'> Filter By Email </option>
                    <option value='phone'> Filter By Phone </option>
                </select>
                <input name="search-text" type="text" [(ngModel)]='searchText' class="form-control" placeholder="Search Text">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)=searchContacts(searchText,searchBy) id="search" style="height:34px" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Activated
                </th>
                <th class="text-center">
                    Actions
                </th>
            </thead>
            <tbody>
                <tr *ngFor='let contact of contacts'>
                    <td>
                        {{contact.email}}
                    </td>
                    <td>
                        {{contact.first_name + " "}}{{contact.last_name}}
                    </td>
                    <td>
                        {{contact.phone}}
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" [checked]="contact.is_active" (change)="onStatusChange($event, contact.id)">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <button (click)="deleteContact(contact.id)" class="btn btn-sm btn-danger">Delete</button>&nbsp;<button
                        [routerLink]="['/new-contact/']" [queryParams]="{group_id: group.id, contact_id: contact.id, is_edit: true}" class="btn btn-sm btn-primary">Edit</button>
                    </td>
                </tr>
                <span *ngIf='contacts?.length == 0'><br/><em>No contacts found in group</em></span>
            </tbody>
        </table>
    </div>
    <hr>
</div>