<div class="container cmc-home-container">
    <div class="cmc-ribbon">
        <h3 class="text-primary">Group {{" " + group.group_name}}</h3>
        <button (click)="addContact()" class="btn btn-sm btn-primary">addContact</button>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Phone
                </th>
            </thead>
            <tbody>
                <tr *ngFor='let contact of contacts'>
                    <td>
                        {{contacts.contact.email}}
                    </td>
                    <td>
                        {{contacts.contact.first_name + " "}}{{contacts.contact.last_name}}
                    </td>
                    <td>
                        {{contacts.contact.phone}}
                    </td>
                    <td class="text-center">
                        <button (click)="createContact()" class="btn btn-sm btn-danger">Delete</button>&nbsp;<button (click)="createContact()"
                            class="btn btn-sm btn-primary">View</button>&nbsp;<button (click)="createContact()" class="btn btn-sm btn-success">Add
                            Contact</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>