.cmc-ribbon > h3{
    display: inline;
}
.cmc-ribbon > button{
    float: right;
}
.cmc-ribbon.cmc-center{
    text-align: right
}
.cmc-home-container{
    padding: 15px 0 0 0;
}
.inline-headers h3, .inline-headers h4 {
    display: inline-block;
    vertical-align: baseline;
  }